.AddPage {
    background-color: #fff;
    padding: 6%;
    border-radius: 6px;
    width: 70%;
    flex: 1;
    margin: auto;
}

.AddPage .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.AddPage .btn-submit {
    float: right;
}